@media (max-width: 62.5em) {
	.title {
		width: 5ch;
	}
}

@media (max-width: 47em) {
	html {
		font-size: 90%;
	}
	main .container {
		flex-direction: column;
	}
}

@media (max-width: 31em) {
	html {
		font-size: 75%;
	}

	main .container {
		justify-content: center;
		gap: 5rem;
	}
}

@media (max-width: 25rem) {
	html {
		font-size: 60%;
	}
}
