@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: "Press Start 2P", sans-serif;
}

body {
	color: #eee;
	background-color: #222;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.nav {
	display: flex;
	justify-content: space-between;
	margin: 1rem 2rem;
}

a:link,
a:visited {
	color: #eee;
	text-decoration: none;
}

a:hover,
a:active {
	text-decoration: underline;
}

h1 {
	display: flex;
	justify-content: center;
	align-items: center;
	max-height: 25vh;
	font-size: 2.5rem;
}

.heading {
	display: flex;
	justify-content: space-around;
	align-items: center;

	border-top: 7px solid #eee;
	border-bottom: 7px solid #eee;
}

.number {
	padding: 2.5rem;
	font-size: 2.5rem;
	background-color: #eee;
	color: #222;

	margin: 1rem 0;
}

main .container {
	min-height: 60vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.left {
	display: flex;
	flex-direction: column;
}

.left .again {
	display: none;
}

.guess {
	background: none;
	border: 4px solid #eee;
	font-family: inherit;
	color: inherit;
	font-size: 3rem;
	padding: 1.5rem;
	width: 15.5rem;
	text-align: center;
	display: block;
	margin-bottom: 3rem;
}

img {
	max-height: 4.5rem;
}

.btn {
	border: none;
	background-color: #eee;
	color: #222;
	font-size: 1.25rem;
	font-family: inherit;
	padding: 1rem 2rem;
	cursor: pointer;
}

.right {
	font-size: 1.5rem;
}

footer {
	font-size: 0.75rem;

	position: absolute;
	left: 50%;
	bottom: 10px;
	transform: translateX(-50%);
}
